.transition-button{
    background-color: blue;
    transition: all;
    transition-duration: 0.5s;
}
.transition-button:hover{
    background-color:green;
}
.transition-div{
    transition-duration: 1s;
    width:100px;
    height:100px;
    background-color: red;
}
.transition-div:hover{
    width:200px;
}
.transition-text{
    transition-duration: 0.3s;
    font-size:16px;
    background-color: orange;
}
.transition-text:hover{
    font-size:24px;
}
.scale-div{
    background-color:pink;
    transition:1s;
    width:50px;
    height:50px;
}
.scale-div:hover{
    transform:scale(1.5);
}
.translate-button{
    background-color:lightskyblue;
}
.translate-button:hover{
    transform:translate(50px,20px);
    
}